In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
real_news_data = pd.read_csv('true.csv')
fake_news_data = pd.read_csv('fake.csv')

In [6]:
fake_news_data

,title,text,subject,date
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017"
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017"
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017"
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017"
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017"
...,...,...,...,...
23476,McPain: John McCain Furious That Iran Treated ...,21st Century Wire says As 21WIRE reported earl...,Middle-east,"January 16, 2016"
23477,JUSTICE? Yahoo Settles E-mail Privacy Class-ac...,21st Century Wire says It s a familiar theme. ...,Middle-east,"January 16, 2016"
23478,Sunnistan: US and Allied ‘Safe Zone’ Plan to T...,Patrick Henningsen 21st Century WireRemember ...,Middle-east,"January 15, 2016"
23479,How to Blow $700 Million: Al Jazeera America F...,21st Century Wire says Al Jazeera America will...,Middle-east,"January 14, 2016"
23480,10 U.S. Navy Sailors Held by Iranian Military ...,21st Century Wire says As 21WIRE predicted in ...,Middle-east,"January 12, 2016"

In [3]:
real_news_data['label'] = 'real'
fake_news_data['label'] = 'fake'

In [4]:
combined_data = pd.concat([fake_news_data, real_news_data], ignore_index=True)

In [5]:
combined_data['label'] = combined_data['label'].replace({'real': 1, 'fake': 0})

In [6]:
combined_data

,title,text,subject,date,label
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",0
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",0
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",0
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",0
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",0
...,...,...,...,...,...
44893,'Fully committed' NATO backs new U.S. approach...,BRUSSELS (Reuters) - NATO allies on Tuesday we...,worldnews,"August 22, 2017",1
44894,LexisNexis withdrew two products from Chinese ...,"LONDON (Reuters) - LexisNexis, a provider of l...",worldnews,"August 22, 2017",1
44895,Minsk cultural hub becomes haven from authorities,MINSK (Reuters) - In the shadow of disused Sov...,worldnews,"August 22, 2017",1
44896,Vatican upbeat on possibility of Pope Francis ...,MOSCOW (Reuters) - Vatican Secretary of State ...,worldnews,"August 22, 2017",1
44897,Indonesia to buy $1.14 billion worth of Russia...,JAKARTA (Reuters) - Indonesia will buy 11 Sukh...,worldnews,"August 22, 2017",1

In [7]:
missing_values=combined_data.isnull().sum()
missing_values

title      0
text       0
subject    0
date       0
label      0
dtype: int64

In [8]:
# Check for duplicates across all columns
duplicate_rows = combined_data[combined_data.duplicated()]
duplicate_rows

,title,text,subject,date,label
9942,HILLARY TWEETS MESSAGE In Defense Of DACA…OOPS...,No time to waste we've got to fight with eve...,politics,"Sep 9, 2017",0
11446,FORMER DEMOCRAT WARNS Young Americans: “Rioter...,"Who is silencing political speech, physically...",politics,"Mar 10, 2017",0
14925,[VIDEO] #BlackLivesMatter Terrorists Storm Dar...,They were probably just looking for a safe sp...,politics,"Nov 16, 2015",0
23926,Senate tax bill stalls on deficit-focused 'tri...,WASHINGTON (Reuters) - The U.S. Senate on Thur...,politicsNews,"November 30, 2017",1
24259,Trump warns 'rogue regime' North Korea of grav...,BEIJING (Reuters) - U.S. President Donald Trum...,politicsNews,"November 8, 2017",1
...,...,...,...,...,...
44709,France unveils labor reforms in first step to ...,PARIS (Reuters) - French President Emmanuel Ma...,worldnews,"August 31, 2017",1
44744,Guatemala top court sides with U.N. graft unit...,GUATEMALA CITY (Reuters) - Guatemala s top cou...,worldnews,"August 29, 2017",1
44771,"Europeans, Africans agree renewed push to tack...",PARIS (Reuters) - Europe s big four continen...,worldnews,"August 28, 2017",1
44834,Thailand's ousted PM Yingluck has fled abroad:...,BANGKOK (Reuters) - Ousted Thai prime minister...,worldnews,"August 25, 2017",1
44889,"U.S., North Korea clash at U.N. forum over nuc...",GENEVA (Reuters) - North Korea and the United ...,worldnews,"August 22, 2017",1

In [9]:
combined_data = combined_data.drop(['title', 'subject', 'date'], axis=1)

In [10]:
combined_data.head()

                                                text  label
0  Donald Trump just couldn t wish all Americans ...      0
1  House Intelligence Committee Chairman Devin Nu...      0
2  On Friday, it was revealed that former Milwauk...      0
3  On Christmas day, Donald Trump announced that ...      0
4  Pope Francis used his annual Christmas Day mes...      0

In [11]:
combined_data=combined_data.sample(frac=1)                # reshuffling the dataset

In [12]:
combined_data.head()

                                                    text  label
6044   While the media continues to push the narrativ...      0
12510  The National Archives inspector general invest...      0
16165                                                         0
33784  WASHINGTON (Reuters) - U.S. President Barack O...      1
6501   Yesterday, Trae Crowder, otherwise known as th...      0

In [13]:
combined_data.reset_index(inplace=True)

In [14]:
combined_data.head()

   index                                               text  label
0   6044  While the media continues to push the narrativ...      0
1  12510  The National Archives inspector general invest...      0
2  16165                                                         0
3  33784  WASHINGTON (Reuters) - U.S. President Barack O...      1
4   6501  Yesterday, Trae Crowder, otherwise known as th...      0

In [15]:
combined_data.drop("index",axis=1,inplace=True)

In [16]:
combined_data.head()

                                                text  label
0  While the media continues to push the narrativ...      0
1  The National Archives inspector general invest...      0
2                                                         0
3  WASHINGTON (Reuters) - U.S. President Barack O...      1
4  Yesterday, Trae Crowder, otherwise known as th...      0

In [17]:
import re

In [18]:


def wordopt(text):
    # Convert into lower case
    text = text.lower()
    
    # Remove URL
    text = re.sub(r'https?://\S+|www\.\S+', '', text)
    
    # Remove HTML tags
    text = re.sub(r'<.*?>', '', text)
    
    # Remove punctuation
    text = re.sub(r'[^\w\s]', '', text)
     
    # Remove digits
    text = re.sub(r'\d', '', text)
    
    # Remove new line characters
    text = re.sub(r'\n', ' ', text)
    
    return text

In [19]:
combined_data['text']=combined_data['text'].apply(wordopt)

In [20]:
combined_data['text']

0        while the media continues to push the narrativ...
1        the national archives inspector general invest...
2
3        washington reuters  us president barack obama ...
4        yesterday trae crowder otherwise known as the ...
                               ...
44893    st century wire says on friday a us federal ju...
44894     hill larious if this was a donald trump pi at...
44895    planned parenthood workers are sick and tired ...
44896    lashkar gah afghanistan reuters  an airstrike ...
44897    how many outspoken  nevertrumper s  is donald ...
Name: text, Length: 44898, dtype: object

In [21]:
x=combined_data['text']
y=combined_data['label']

In [22]:
x

0        while the media continues to push the narrativ...
1        the national archives inspector general invest...
2
3        washington reuters  us president barack obama ...
4        yesterday trae crowder otherwise known as the ...
                               ...
44893    st century wire says on friday a us federal ju...
44894     hill larious if this was a donald trump pi at...
44895    planned parenthood workers are sick and tired ...
44896    lashkar gah afghanistan reuters  an airstrike ...
44897    how many outspoken  nevertrumper s  is donald ...
Name: text, Length: 44898, dtype: object

In [23]:
y

0        0
1        0
2        0
3        1
4        0
        ..
44893    0
44894    0
44895    0
44896    1
44897    0
Name: label, Length: 44898, dtype: int64

In [24]:
from sklearn.model_selection import train_test_split

# Assuming your features are stored in X and labels in y
# X should contain the input features (e.g., text data) and y should contain the corresponding labels (real or fake)

# Perform train-test split with 80% of the data for training and 20% for testing
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3, random_state=42)

In [25]:
x_train.shape

(31428,)

In [26]:
x_test.shape

(13470,)

In [27]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [28]:
# Initialize the TfidfVectorizer
vectorizer = TfidfVectorizer()

# Fit and transform the training data
xv_train = vectorizer.fit_transform(x_train)

# Transform the testing data (only transform, do not fit again)
xv_test = vectorizer.transform(x_test)

In [29]:
xv_train

<31428x175275 sparse matrix of type '<class 'numpy.float64'>'
	with 6480463 stored elements in Compressed Sparse Row format>

In [30]:
xv_test

<13470x175275 sparse matrix of type '<class 'numpy.float64'>'
	with 2700339 stored elements in Compressed Sparse Row format>

In [31]:
from sklearn.linear_model import LogisticRegression

# Initialize the Logistic Regression model
logistic_model = LogisticRegression()

# Train the model on the training data
logistic_model.fit(xv_train, y_train)

# Predictions on the testing data
predictions = logistic_model.predict(xv_test)

# Evaluate the model
accuracy = logistic_model.score(xv_test, y_test)
print("Accuracy:", accuracy)

Accuracy: 0.9867854491462509

In [32]:
from sklearn.tree import DecisionTreeClassifier

# Initialize the Decision Tree Classifier model
decision_tree_model = DecisionTreeClassifier()

# Train the model on the training data
decision_tree_model.fit(xv_train, y_train)

# Predictions on the testing data
predictions = decision_tree_model.predict(xv_test)

# Evaluate the model
accuracy = decision_tree_model.score(xv_test, y_test)
print("Accuracy:", accuracy)

Accuracy: 0.9955456570155902

In [33]:
from sklearn.ensemble import RandomForestClassifier

# Initialize the Random Forest Classifier model
random_forest_model = RandomForestClassifier()

# Train the model on the training data
random_forest_model.fit(xv_train, y_train)

# Predictions on the testing data
predictions = random_forest_model.predict(xv_test)

# Evaluate the model
accuracy = random_forest_model.score(xv_test, y_test)
print("Accuracy:", accuracy)

Accuracy: 0.989086859688196

In [34]:
def output_label(n):
    if n==0:
        return "It is an fake news"
    elif n==1:
        return "It is a real news"

In [35]:
def manual_testing(news):
    testing_news = {"text": [news]}     #corrected syntax for defining dictionary
    new_def_test = pd.DataFrame(testing_news)
    new_def_test["text"] = new_def_test["text"].apply(wordopt)
    new_x_text = new_def_test["text"]
    new_xv_test = vectorization.transform(new_x_test)    #assuming vectorizaton
    predic_lr = LR.predict(new_xv_test)
    
    return "\n\nLR Prediction: {} ".format(
        output_label(pred_lr[0]), output_label)

In [ ]:
news_article = str(input())

In [ ]:
manual_testing(news_article)